# ignore everything in the experiment log directory
explogs/*
__pycache__/*
*.pyc
.vscode*
logs*
data/*
figcode*
tmp_tf*
*.log
*.out
playground.ipynb
gpu_test.py
tiny-imagenet-tfds-master.zip
.ipynb_checkpoints
*.egg-info
venv/*
figs/*
experiments/cluster_scripts/janelia/
example_training.png