# to run nodepert on a GPU machine, make the following changes:
# 1. change tensorflow-cpu to tensorflow
# 2. change jaxlib to jaxlib=0.1.67+cuda111 (depending on your CUDA version) : uncomment line [10 & 11]

tensorflow-cpu
#tensorflow
tensorflow-datasets
jax 
jaxlib
# jaxlib==0.1.67+cuda111 # note: depending on your instance CUDA version, replace cuda111 with: cuda101(for CUDA10.1), cuda102(for CUDA10.2), cuda110(for CUDA11.0)
# --find-links https://storage.googleapis.com/jax-releases/jax_releases.html
numpy
pandas
