tensorflow
tensorflow-datasets
jax 
jaxlib
silence_tensorflow
numpy
pandas
# for installing GPU compatible JAX:
# conda create -n jax_gpu python cudatoolkit=11.3 cudatoolkit-dev=11.3 -c conda-forge
# conda activate jax_gpu
# pip install 'jax[cuda11_cudnn82]' 'jaxlib[cuda11_cudnn82]' -f https://storage.googleapis.com/jax-releases/jax_releases.html